$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mercury: #e1e1e1;
$blue: #0095ff;

$darkblack: #000000;
$darkblue: #0065ad;
$alabaster: #fafafa;

$green: #16a085;
$white: #ffffff;
$black: #323232;
$silver: #afafaf;
$bgcolor: #f5f5f5;
$gold: #ffd700;
