@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.doctordetail {
  padding: 1.5rem;

  border-radius: 10px;
  margin-top: 9rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: fit-content;

  @include tablet {
    width: auto;
    display: flex;
    gap: 20px;
    margin-right: 1.5rem;
  }

  @include desktop {
  }

  &__img {
    border-radius: 10px;
  }

  &__name {
    font-weight: 500;
  }
  &__speciality {
    background-color: rgba(0, 128, 0, 0.3);
    width: fit-content;
    padding: 4px;
    border-radius: 4px;
  }

  &__star {
    color: $gold;
  }
}

.bookingform {
  text-align: center;
  &__heading {
    font-size: 2rem;
    padding: 0 1.5rem;
    font-weight: 600;
    color: $black;
  }

  &__applabel {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  &__date,
  &__time {
    border: 1px solid $green;
    border-radius: 10px;
    height: 2rem;
    width: 13rem;
  }

  &__timelabel {
    font-size: 1.5rem;
  }

  &__btn {
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.3);
    padding: 0.5rem 4rem;
    margin-top: 1rem;
  }
}
