@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.appointments {
  padding: 8rem 1.5rem;
  &__image {
    content: url("../../assets/image/book-img.svg");

    height: 50vh;
    width: 100%;
  }

  &__list {
    list-style: none;
  }

  &__listitem {
    padding: 1rem 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    @include tablet {
    }
  }

  &__bookingid {
    // background-color: rgba(0, 128, 0, 0.3);
    width: fit-content;
    padding: 3px;
    border-radius: 4px;
  }

  &__cancel {
    background-color: rgba(0, 128, 0, 0.3);
    border: none;
    border-radius: 4px;
    padding: 4px 4px;
    cursor: pointer;
  }
}
