@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  display: flex;
  flex-direction: column;
  background-color: $bgcolor;

  @include tablet {
  }

  @include desktop {
  }

  &__img {
    content: url("../../assets/image/home-img.svg");
    min-width: 100%;
    height: 80vh;
  }

  &__intro {
    padding: 0 24px;
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: $black;
    line-height: 1.8;
    text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  }

  &__subheading {
    color: $silver;
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: 1px solid $green;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0 rgba(22, 160, 133, 0.2);
    color: $green;
    cursor: pointer;
    font-size: 1.7rem;
    background: $white;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1.5rem;
  justify-content: space-evenly;

  &__doc,
  &__patients,
  &__clinics {
    border: 0.1rem solid $green;
    box-shadow: 0.3rem 0.3rem 0 rgba(22, 160, 133, 0.2);
    border-radius: 0.5rem;
    text-align: center;
    padding: 2rem 3rem;
  }

  &__icon {
    color: $green;
    font-size: 3rem;
  }

  &__number {
    font-size: 2rem;
    color: $black;
    margin: 0.5rem 0;
    text-shadow: var(--text-shadow);
  }

  &__subheading {
    font-size: 1rem;
    color: $silver;
  }
}
